@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("~../../../assets/img/hero-bg.jpg");
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  overflow: auto;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  z-index: -1;
  position: absolute;
}

nav {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.nav-filter {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 40%;
  position: absolute;
  z-index: -1;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 0;
}

.div-yt {
  height: 160px;
}

.btn-yt {
  height: 80px;
  width: 80px;
}

.fa-play {
  font-size: 25px;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  display: none;
}

.nav-item:hover .nav-link {
  color: #d9ba85 !important;
}

.section1 {
  width: 100%;
  height: 90%;
  background-image: url("~../../../assets/img/about-bg.jpg");
  background-position: center;
  position: relative;
  overflow: auto;
  z-index: 2;
}

.filter-sec1 {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
  z-index: -1;
  position: absolute;
}

.lorem-sec1 {
  font-size: 15px !important;
}

.fa-check {
  border: 2px solid #cda45d;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check3 {
  border: 2px solid #cda45d;
  border-radius: 50%;
  width: 45px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hover-zoom {
  overflow: hidden;
  position: relative;
}

.zoom-img {
  z-index: -1;
}

/* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
  transition: transform 0.4s ease-in-out;
}

.img-hover-zoom--zoom-n-rotate {
  transition: transform 0.4s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
  transform: scale(1.05);
}

.img-hover-zoom--zoom-n-rotate:hover {
  transform: scale(1.05);
}

.bord-img1 {
  width: 75px;
  height: 75px;
  border: 5px solid #cda45d;
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

.bord-img2 {
  width: 75px;
  height: 75px;
  border: 5px solid #cda45d;
  border-left: none;
  border-top: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.section2 {
  background-color: #0b0b09;
  width: 100%;
  height: 70%;
}

.why {
  color: #aaaaaa;
}

.choose {
  color: #c19a58;
}

.hr-sec2 {
  color: white;
  width: 150px;
}

.number {
  color: #cda45d;
}

.p-sec2 {
  color: #aaaaaa;
}

.card {
  background-color: #1a1814;
  width: 450px !important;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .nav-book {
    display: none;
  }
  .btn-book {
    display: none;
  }
  .nav-res {
    display: flex;
    flex-direction: row;
    gap: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .div-hero {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .div-hero-text {
    gap: 0px !important;
    width: 100%;
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .welcome {
    font-size: 26px !important;
  }
  .delivering {
    font-size: 14px !important;
  }
  .div-btn {
    width: 100%;
  }
  .btn-book-menu {
    font-size: 11px !important;
  }
  .btn-book-table {
    font-size: 11px !important;
  }
  .modal-yt {
    justify-content: center !important;
  }
  .section1 {
    flex-direction: column-reverse !important;
    height: auto;
  }
  .text-sec1 {
    width: 90%;
  }
  .img-hover-zoom {
    width: 90%;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  .div-hero {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .div-hero-text {
    gap: 0px !important;
    width: 100%;
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .welcome {
    font-size: 31px !important;
  }
  .delivering {
    font-size: 17px !important;
  }
  .div-btn {
    width: 100%;
  }
  .btn-book-menu {
    font-size: 16px !important;
  }
  .btn-book-table {
    font-size: 16px !important;
  }
  .modal-yt {
    justify-content: center !important;
  }
  .section1 {
    flex-direction: column-reverse !important;
    height: auto;
  }
  .text-sec1 {
    width: 90%;
  }
  .img-hover-zoom {
    width: 90%;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .div-hero {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .div-hero-text {
    gap: 0px !important;
    width: 100%;
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .welcome {
    font-size: 36px !important;
  }
  .delivering {
    font-size: 20px !important;
  }
  .div-btn {
    width: 100%;
  }
  .btn-book-menu {
    font-size: 20px !important;
  }
  .btn-book-table {
    font-size: 20px !important;
  }
  .modal-yt {
    justify-content: center !important;
  }
  .section1 {
    flex-direction: column-reverse !important;
    height: auto;
  }
  .text-sec1 {
    width: 90%;
  }
  .img-hover-zoom {
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .div-hero {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .div-hero-text {
    gap: 0px !important;
    width: 100%;
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .welcome {
    font-size: 36px !important;
  }
  .delivering {
    font-size: 20px !important;
  }
  .div-btn {
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
  }
  .btn-book-menu {
    font-size: 20px !important;
  }
  .btn-book-table {
    font-size: 20px !important;
  }
  .modal-yt {
    justify-content: center !important;
  }
  .section1 {
    flex-direction: column-reverse !important;
    height: auto;
  }
  .text-sec1 {
    width: 90%;
  }
  .img-hover-zoom {
    width: 90%;
  }
}
.btn-yt:hover .fa-play {
  animation-name: play;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes play {
  0% {
    font-size: 25px;
  }
  25% {
    font-size: 40px;
  }
  50% {
    font-size: 50px;
  }
  75% {
    font-size: 60px;
  }
  100% {
    font-size: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
