footer {
    width: 100vw;
    height: 80vh;
    background-color: #0d0b09;
    border-top: 1px solid #26231d !important;
}

.icon-footer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #27251f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-footer {
    text-decoration: none;
    color: white;
}

.arrow {
    color: #cda45d;
}

.footer-div1 {
    height: 80%;
}

.form-control {
    border-right: none;
    border-radius: 50px;
    background-color: #27251f !important;
    border: 1px solid gray;
}

.btn-outline-secondary {
    background-color: #cda45d;
    color: white;
    border-radius: 50px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-group .btn {
    right: 20px;
}

.copywright {
    height: 20%;
    border-top: 1px solid #26231d !important;
    background-color: black;
}

.a-footer:hover {
    color: #cda45d;
}

.icon-footer:hover {
    background-color: #cda45d;
}