@media screen and (min-width: 320px) and (max-width: 1023px) {
    .nav-book {
        display: none;
    }

    .btn-book {
        display: none;
    }

    .nav-res {
        display: flex;
        flex-direction: row;
        gap: 50%;
    }


}

// mobile S

@media screen and (min-width: 320px) and (max-width: 375px) {

    // header

    .div-hero {
        flex-direction: column!important;
        justify-content: center !important;
        align-items: center !important;
    }

    .div-hero-text {
        gap: 0px!important;
        width: 100%;
        padding: 0 !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .welcome {
        font-size: 26px!important;
    }

    .delivering {
        font-size: 14px!important;
    }

    .div-btn {
        width: 100%;
    }

    .btn-book-menu {
        font-size: 11px !important;
    }

    .btn-book-table {
        font-size: 11px !important;
    }

    .modal-yt {
        justify-content: center !important;
    }

    // section1

    .section1 {
        flex-direction: column-reverse !important;
        height: auto;
    }

    .text-sec1 {
        width: 90%;
    }

    .img-hover-zoom {
        width: 90%;
    }

    // section2

    .section2 {
        width: 100%;
        height: auto;

    }

    .title-sec2 {
        margin-left: 0 !important;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .div-card {
        flex-direction: column !important;
        align-items: center;
        margin-bottom: 30px;
    }

    .card {
        width: 90% !important;
    }

    // section3

    .section3 {
        width: 100%;
        height: auto;
    }

    .div-repas {
        flex-direction: column;
    }

    .div-rep {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-rep2 {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-menu {
        width: 95% !important;
    }

    .hr-menu {
        width: 100px;
    }

    .hr-menu-crab {
        width: 140px;
    }
    
    .hr-menu-tuscan {
        width: 110px;
    }
    
    .hr-menu-salad {
        width: 120px;
    }
    
    .hr-menu-roll {
        width: 125px;
    }
    
    .hr-menu-bread {
        width: 160px;
    }

    .caesar {
        width: 135px;
    }
    
    .hr-menu-mozza {
        width: 130px;
    }
    
    .hr-menu-spinach {
        width: 150px;
    }

    .dish {
        font-size: 13px;
        font-weight: bold;
    }

    .ing-menu {
        font-size: 13px;
    }

    // section4

    .section4 {
        width: 100%;
        height: auto;
    }

    .titre-sec4 {
        margin-left: 0px;
    }

    .carousel-item {
        flex-direction: column;
        align-items: center;
    }

    .div-img-carousel {
        width: 90%;
    }

    .div-p-carousel {
        width: 90%;
    }

    // section 5
    
    .section5 {
        width: 100%;
        height: auto;
    }

    .titre-sec5 {
        margin-left: 20px;
    }


    .formulaire {
        width: 95%;
    }

    .div-img-sec5 {
        width: 90% !important;
    }
}

// mobile M

@media screen and (min-width: 375px) and (max-width: 425px) {
    .div-hero {
        flex-direction: column!important;
        justify-content: center !important;
        align-items: center !important;
    }

    .div-hero-text {
        gap: 0px!important;
        width: 100%;
        padding: 0 !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .welcome {
        font-size: 31px!important;
    }

    .delivering {
        font-size: 17px!important;
    }

    .div-btn {
        width: 100%;
    }

    .btn-book-menu {
        font-size: 16px !important;
    }

    .btn-book-table {
        font-size: 16px !important;
    }

    .modal-yt {
        justify-content: center !important;
    }

    // section1

    .section1 {
        flex-direction: column-reverse !important;
        height: auto;
    }
    
    .text-sec1 {
        width: 90%;
    }
    
    .img-hover-zoom {
        width: 90%;
    }

    // section2

    .section2 {
        width: 100%;
        height: auto;
    }
    
    .title-sec2 {
        margin-left: 0 !important;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .div-card {
        flex-direction: column !important;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .card {
        width: 90% !important;
    }

    // section3

    .section3 {
        width: 100%;
        height: auto;
    }

    .div-repas {
        flex-direction: column;
    }

    .div-rep {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-rep2 {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-menu {
        width: 95% !important;
    }

    .hr-menu {
        width: 130px;
    }

    .hr-menu-crab {
        width: 158px;
    }
    
    .hr-menu-tuscan {
        width: 130px;
    }
    
    .hr-menu-salad {
        width: 145px;
    }
    
    .hr-menu-roll {
        width: 135px;
    }
    
    .hr-menu-bread {
        width: 150px;
    }

    .caesar {
        width: 120px;
    }
    
    .hr-menu-mozza {
        width: 130px;
    }
    
    .hr-menu-spinach {
        width: 145px;
    }

    .dish {
        font-size: 13px;
        font-weight: bold;
    }

    .ing-menu {
        font-size: 13px;
    }

    // section4

    .section4 {
        width: 100%;
        height: auto;
    }
    
    .titre-sec4 {
        margin-left: 0px;
    }
    
    .carousel-item {
        flex-direction: column;
        align-items: center;
    }
    
    .div-img-carousel {
        width: 90%;
    }
    
    .div-p-carousel {
        width: 90%;
    }

    // section 5
    
    .section5 {
        width: 100%;
        height: auto;
    }

    .titre-sec5 {
        margin-left: 20px;
    }

    .formulaire {
        width: 95%;
    }

    .div-img-sec5 {
        width: 90% !important;
    }
}

// mobile L

@media screen and (min-width: 425px) and (max-width: 768px) {
    .div-hero {
        flex-direction: column!important;
        justify-content: center !important;
        align-items: center !important;
    }

    .div-hero-text {
        gap: 0px!important;
        width: 100%;
        padding: 0 !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .welcome {
        font-size: 36px!important;
    }

    .delivering {
        font-size: 20px!important;
    }

    .div-btn {
        width: 100%;
    }

    .btn-book-menu {
        font-size: 20px !important;
    }

    .btn-book-table {
        font-size: 20px !important;
    }

    .modal-yt {
        justify-content: center !important;
    }

    // section1

    .section1 {
        flex-direction: column-reverse !important;
        height: auto;
    }
    
    .text-sec1 {
        width: 90%;
    }
    
    .img-hover-zoom {
        width: 90%;
    }

    // section2

    .section2 {
        width: 100%;
        height: auto;
    }
    
    .title-sec2 {
        margin-left: 0 !important;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .div-card {
        flex-direction: column !important;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .card {
        width: 90% !important;
    }

    // section3

    .section3 {
        width: 100%;
        height: auto;
    }

    .div-repas {
        flex-direction: column;
    }

    .div-rep {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-rep2 {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-menu {
        width: 95% !important;
    }

    .hr-menu {
        width: 180px;
    }

    .hr-menu-crab {
        width: 210px;
    }
    
    .hr-menu-tuscan {
        width: 185px;
    }
    
    .hr-menu-salad {
        width: 200px;
    }
    
    .hr-menu-roll {
        width: 190px;
    }
    
    .hr-menu-bread {
        width: 205px;
    }

    .caesar {
        width: 175px;
    }
    
    .hr-menu-mozza {
        width: 180px;
    }
    
    .hr-menu-spinach {
        width: 195px;
    }

    .dish {
        font-size: 13px;
        font-weight: bold;
    }

    .ing-menu {
        font-size: 13px;
    }

    // section4

    .section4 {
        width: 100%;
        height: auto;
    }
    
    .titre-sec4 {
        margin-left: 0px;
    }
    
    .carousel-item {
        flex-direction: column;
        align-items: center;
    }
    
    .div-img-carousel {
        width: 90%;
    }
    
    .div-p-carousel {
        width: 90%;
    }

    // section 5
    
    .section5 {
        width: 100%;
        height: auto;
    }

    .titre-sec5 {
        margin-left: 20px;
    }


    .formulaire {
        width: 95%;
    }

    .div-img-sec5 {
        width: 90% !important;
    }
}

// tablette

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-hero {
        flex-direction: column!important;
        justify-content: center !important;
        align-items: center !important;
    }

    .div-hero-text {
        gap: 0px!important;
        width: 100%;
        padding: 0 !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .welcome {
        font-size: 36px!important;
    }

    .delivering {
        font-size: 20px!important;
    }

    .div-btn {
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
    }

    .btn-book-menu {
        font-size: 20px !important;
    }

    .btn-book-table {
        font-size: 20px !important;
    }

    .modal-yt {
        justify-content: center !important;
    }

    // section1

    .section1 {
        flex-direction: column-reverse !important;
        height: auto;
    }
    
    .text-sec1 {
        width: 90%;
    }
    
    .img-hover-zoom {
        width: 90%;
    }

    // section2

    .section2 {
        width: 100%;
        height: auto;
    }
        
    .title-sec2 {
        margin-left: 0 !important;
        margin-top: 40px;
        margin-bottom: 20px;
    }
        
    .div-card {
        flex-direction: column !important;
        align-items: center;
        margin-bottom: 30px;
    }
        
    .card {
        width: 90% !important;
    }

    // section3

    .section3 {
        width: 100%;
        height: auto;
    }

    .div-repas {
        flex-direction: column;
    }

    .div-rep {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-rep2 {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-menu {
        width: 95% !important;
    }


    .hr-menu {
        width: 500px;
    }

    .hr-menu-crab {
        width: 525px;
    }
    
    .hr-menu-tuscan {
        width: 500px;
    }
    
    .hr-menu-salad {
        width: 510px;
    }
    
    .hr-menu-roll {
        width: 500px;
    }
    
    .hr-menu-bread {
        width: 525px;
    }

    .caesar {
        width: 495px;
    }
    
    .hr-menu-mozza {
        width: 500px;
    }
    
    .hr-menu-spinach {
        width: 520px;
    }

    .dish {
        font-size: 13px;
        font-weight: bold;
    }

    .ing-menu {
        font-size: 13px;
    }

    // section4

    .section4 {
        width: 100%;
        height: auto;
    }
    
    .titre-sec4 {
        margin-left: 40px;
    }
    
    .carousel-item {
        flex-direction: column;
        align-items: center;
    }
    
    .div-img-carousel {
        width: 90%;
    }
    
    .div-p-carousel {
        width: 90%;
    }

    // section 5
    
    .section5 {
        width: 100%;
        height: auto;
    }

    .titre-sec5 {
        margin-left: 35px;
    }
}

// laptop S

@media screen and (min-width: 1024px) and (max-width: 1339px) {
    // header

    .navbar-nav {
        gap: 0px;
    }

    // section2

    .card {
        width: 300px !important;
    }

    // section3

    .section3 {
        width: 100%;
        height: auto;
    }

    .div-repas {
        align-items: flex-start;
        justify-content: space-evenly;
    }


    .div-rep {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-rep2 {
        justify-content: center !important;
        align-items: center !important;
    }

    .div-menu {
        width: 100% !important;
    }

    .hr-menu {
        width: 100px;
    }

    .hr-menu-crab {
        width: 140px;
    }
    
    .hr-menu-tuscan {
        width: 110px;
    }
    
    .hr-menu-salad {
        width: 120px;
    }
    
    .hr-menu-roll {
        width: 125px;
    }
    
    .hr-menu-bread {
        width: 160px;
    }

    .caesar {
        width: 135px;
    }
    
    .hr-menu-mozza {
        width: 130px;
    }
    
    .hr-menu-spinach {
        width: 150px;
    }

    // section4

    .section4 {
        width: 100%;
        height: auto;
    }
    
    .titre-sec4 {
        margin-left: 0px;
    }
    
    .div-img-carousel {
        width: 50%;
    }
    
    .div-p-carousel {
        width: 50%;
    }

    // section 5

    .titre-sec5 {
        margin-left: 40px;
    }
}