.section5 {
    background-color: #0b0b09;
    width: 100%;
    height: 400vh;
}

.hr-sec5 {
    color: white;
    width: 150px;
}

.titre-sec5 {
    margin-top: 60px;
    margin-left: 115px;
}

.form-input {
    background: none;
    border: 0;
    border: 1px solid white;
    position: relative;
    color: white;
}

.form-input:focus {
    outline: none !important;
    border: 1px solid #cda45d;
}


input::placeholder {
    color: white;
    position: absolute;
    left: 15px;
}

#message {
    background: none;
    border: 0;
    border: 1px solid white;
    position: relative;
    color: white;
}

#message:focus {
    outline: none !important;
    border: 1px solid #cda45d;
}

#message::placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.section5-button {
    background: none;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    background-color: #cda45d;
    border-radius: 30px;
    cursor: pointer;
    font-family: RobotoRegular;
}

.section5-button:hover {
    background: transparent;
    border: 1px solid #cda45d;
}

.div-img-sec5 {
    width: 95% !important;
}

.div-zoom-sec5 {
    overflow: hidden;
    position: relative;
}

.zoom-img-sec5 {
    transition: transform .4s ease-in-out;
}

.zoom-img-sec5:hover {
    transform: scale(1.1);
}

.div-imgb-sec5 {
    transition: 0.3s ease-in-out;
}

.text-opac {
    bottom: 15px;
    left: 165px;
    display: none;
    
}

.div-imgb-sec5:hover img {
    filter: brightness(50%);
}

.div-imgb-sec5:hover .text-opac{
    display: block;
    z-index: 999;
}

.chefs-icon:hover {
    color: #cda45d !important;
}