.section3 {
    width: 100%;
    height: 100%;
    background-color: #1a1814;
}

.sec3-a {
    cursor: pointer;
}

.div-menu {
    display: flex;
}

.menu-line {
    display: flex;
}

.img-menu {
    width: 60px;
    height: 60px;
    border: 5px solid gray;
    border-radius: 50%;
    cursor: pointer;
}

.dish {
    cursor: pointer;
}

.hr-menu {
    border-top: 3px dotted white;
    width: 400px;
}

.hr-menu-crab {
    border-top: 3px dotted white;
    width: 432px;
}

.hr-menu-tuscan {
    border-top: 3px dotted white;
    width: 405px;
}

.hr-menu-salad {
    border-top: 3px dotted white;
    width: 421px;
}

.hr-menu-roll {
    border-top: 3px dotted white;
    width: 414px;
}

.hr-menu-bread {
    border-top: 3px dotted white;
    width: 436px;
}

.hr-menu-mozza {
    border-top: 3px dotted white;
    width: 410px;
}

.hr-menu-spinach {
    border-top: 3px dotted white;
    width: 425px;
}

.price-menu {
    color: #cda45d;
}

.ing-menu {
    font-style: italic;
    color: gray;
}
